/*
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;

}

nav {
    display: flex;
    background-color: black;
    color: whitesmoke;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    z-index: 97;
    position: sticky;
    top: 0;
}

/* penggantian navigasi */
.menu-toogle {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    z-index: 90;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.9em;
}

nav ul li a:hover {
    font-weight: bold;
    font-size: 20px;
    background-color: steelblue;
    transition: all 0.5s;
}

.banner {
    background-image: url(../assets/workers-pixabay.jpg);
    /*sumber gambar dari pixabay.com*/
    height: 400px;
    background-size: cover;
    background-position: center;
}

main {
    padding: 10px;
    overflow: auto;
}

main p {
    margin-top: 5px;
}

.card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

section {
    margin-top: 20px;
}

.secserv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.secserv div {
    flex-grow: 1;
    border: solid 1px steelblue;
    border-radius: 3px;
    padding: 5px;
    margin: 4px;
    text-align: center;
}

.secserv .secservisi:hover {
    background-color: steelblue;
}

.subserv {
    height: 100px;

}

.sec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.sec1 div {
    flex-grow: 1;
    border: solid 1px steelblue;
    border-radius: 3px;
    padding: 5px;
    margin: 4px;
    text-align: center;
}

.sec1 .sec1cl1:hover {
    background-color: lightseagreen;
}

.logoclient {
    height: 100px;

}

#konten {
    float: left;
    width: 73%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 10px;
}

aside table {
    margin-top: 10px;
}

.tdhead {
    border-bottom: 2px solid slateblue;
    font-weight: bold;
    text-align: center;
}

.logo {
    width: 90px;
}

.ikon {
    width: 20px;
}

.ikon:hover {
    width: 40px;
    transition: 0.4s;
}

footer {
    display: grid;
    height: 30px;
    background-image: url(../assets/prism-toptal.png);
    background-repeat: repeat-x;
    align-content: center;
    justify-content: center;
    text-align: center;

}

footer p {
    color: snow;
    font-weight: bold;
}



/* Pengaturan responsif */
/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

    #konten,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* ukuran hp */
@media screen and (max-width: 576px) {
    .menu-toogle {
        display: flex;
        height: 20px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }

    .menu-toogle span {
        display: block;
        width: 20px;
        height: 4px;
        background-color: whitesmoke;
        border-radius: 3px;
        transition: all 0.5s;
    }


    nav ul {
        position: absolute;
        right: 0;
        top: 40px;
        height: 100vh;
        width: 80%;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: steelblue;
        opacity: 0.8;
        transform: translatex(100%);
        transition: all 1s;
    }

    nav ul li a {
        font-weight: bold;
    }

    nav ul.showslide {
        transform: translatex(0);
    }

    nav span.animspan {
        transform-origin: 0 0;
        transform: rotate(90deg);
    }

    nav span.animspan2 {
        transform: rotate(90deg);
    }

    nav span.animspan3 {
        transform: scale(0);
    }

    .secserv {
        flex-direction: column;
    }

    .sec1 {
        flex-direction: column;
    }

    #konten,
    aside {
        width: 100%;
        padding: 0;
    }

    footer p {
        font-size: 0.8em;
    }
}